section div p{
    color: #3f51b5;
    font-size: 30px;
    text-shadow: 2px 3px 5px grey;
    margin: 30px 0;
}

section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}

mat-tab-group p {
    padding-top: 20px;
}

mat-card{
    font-family: Roboto, Helvetica Neue, sans-serif; 
    background-color: darkcyan;
    color: ghostwhite;
}

.app_button_action {
    background-color: #F0C300;
    color: black;
    font-family: Roboto, Helvetica Neue, sans-serif;
}

div span.only-show-on-hover {
    visibility: hidden;
}
div:hover span.only-show-on-hover  {
    visibility: visible;
}